.footer {
	background-color: var(--footer-background-color);
	border-top: 2px solid #1A0462;
	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	text-align: center;
	width: 100%;
}

.header-nav {
	text-align: center;
	background-color: #E6E6FA;
	border-bottom: 2px solid #1A0462;
	justify-content: space-between;
	padding: 1rem 2rem;
}

/* .header-logo {
	height: 80px;
	margin-left: 1rem;
} */

.not-found {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 120px);
	justify-content: center;
	margin: auto;
	padding: 1rem;
	padding-bottom: 7rem;
	text-align: center;
}
.not-found-image {
	max-height: 50vh;
	max-width: 90%;
}